.Calculadora{
    width: 500px;
    outline:rgb(53, 112, 139) solid 4px;
    margin: 10vh auto auto auto;
    padding-top: 0.5px;
    padding-left: 0.5px;
}

#Pantalla{
    margin-left: 10px;
    margin-top: 10px;
    text-align: right;
    border: 3px solid rgb(0,0,0);
    line-height:70px;
    padding: 16px 62.5px;
    font-size:25px;
    width: 350px;
    margin-bottom: 10px;
}

.botones{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 40px);
    grid-gap: 0.5rem;
    padding: 10px
} 

#botonIgual{
    background-color: rgb(66, 138, 231);
    height: 40px;
    outline: rgb(0,0,0) solid 1px
}

.boton{
    cursor: pointer;
}

.boton:hover{
    background-color: rgb(56, 85, 92);
    color: white;
    transition: 0.1s ease-in-out;
}
